@import '_global.sss'

.c
  border: 1px solid #ccc
  margin-bottom: 25px
  padding-top: 9px

  &:before
    content: 'Component'
    background: #333
    padding: 10px
    width: 100%
    color: white
    margin-left: -1px
